.body {background-color: #c5c5c5}

.div1 {background-color: #ffffff; height: 500px; width: 50vw; border-style: dotted; border-width: 10px;
border-color: black; display: flex; flex-direction: column; justify-content: center;}

.div2 {background-color: #fbff00; height: 50px; width: 30%}

.div3 {background-color: rgb(223, 123, 9); height: 100px; width: 30%}

.div4 {background-color: rgb(73, 255, 1); color: white; font-size: 30px; padding: 50px; margin-top: 50px;
margin-left: 50px;}